.container{
    background-color: #221711;
}
a{
    text-decoration: none;
}

.itemContainer{
    background-color: #F5F5DC;
    display: inline-flex;
    flex-wrap: wrap; 
     justify-content: space-around;
     padding-top: 20px;
    /* margin-top: 20px;
     margin-right: 20px;
     margin-left: 20px;
     margin-bottom: 20px;*/
}
.title{
    color:#F5F5DC;
    font-style:oblique;
    font-family: 'Didot';
    font-size: 80px;
    text-align: center;
    font-weight: lighter;
    /*display: inline-flex;
    flex-wrap: wrap; 
     justify-content: center;*/
}
.box img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 80%;
        object-fit: cover;
        object-position: center center;
      }
  }